.AB-container
	.about-us
		#title "We are who we are"<hr/>
		#content
			.p We're just two random college students who decided to make a website. We had the idea from a local Hack-a-thon we participated in (HackUMass) where we developed an rough android application presenting the general concept (albeit, it was our first time even touching the platform for developing a mobile app, so it was pretty terrible). From this, we decided it was an idea we wanted to keep developing, but we both were horrid at mobile development, so we went for the next best thing.
			.p If you want more details on us specifically, you can check us out via the following methods:
			:markdown
				* **Dylan Bowers** - Email: dylan.volibowers@gmail.com | [GitHub](https://github.com/enragednuke) | [LinkedIn](https://www.linkedin.com/in/dylan-bowers-95b953106)
				* **Nikolai Narma** - Email: nikolai@narma.com