.CU-container
	.contact-us
		#title We want to hear from you!<hr/>
		#content 
			.p This website was created by Dylan Bowers and Nikolai Narma. Concept of creation credit goes to Nikolai Narma, while the creation and full-stack development of the website goes to Dylan Bowers.
			.p We do not have a specific office of any sort, this is a unpaid, student-created website ran off of the Heroku cloud platform. If you wish to contribute, please send us an email so we can talk.
			.p If you're looking to get in touch with us, you can reach us at the following e-mails
			:markdown
				* **Dylan Bowers**: djbowers@umass.edu *or* dylan.volibowers@gmail.com
				* **Nikolai Narma**: nnarma@umass.edu *or* nikolai@narma.com
			.p A bug reporting system is currently in the works. If you encounter any sort of event that looks to be unintentional, please report it to us! Until the bug report system is finished, please sent it to my (Dylan) email with "[TimelapsE Bug Report]" in the title so it does not automatically get spam filtered. Thank you and we hope you enjoy our site!
