.CU-container
	.contact-us
		#title We want to hear from you!<hr/>
		#content 
			.note.alert.alert-info Please note that this is a beta-version of the website. Some things may not work fully or as intended yet, they are actively being worked on. Equally, there are tons of features that I want to implement, but have not yet been able to implement!<br/><br/>To view all the list-worthy changes to the website prior to it's released version (which will have its own better formatted changelog pages), click <a href="https://github.com/enragednuke/homework-tracker/pulls?q=is%3Apr+is%3Aclosed">HERE!</a>
			.p This website was created by Dylan Bowers and Nikolai Narma. Concept of creation credit goes to Nikolai Narma, while the creation and full-stack development of the website goes to Dylan Bowers.
			.p We do not have a specific office of any sort, this is a unpaid, student-created website ran off of the Heroku cloud platform. If you wish to contribute, please send us an email so we can talk.
			.p If you're looking to get in touch with us, you can reach us at the following e-mails
			:markdown
				* **Dylan Bowers**: djbowers@umass.edu *or* dylan.volibowers@gmail.com
				* **Nikolai Narma**: nnarma@umass.edu *or* nikolai@narma.com
			.p A bug reporting system is currently in the works. If you encounter any sort of event that looks to be unintentional, please report it to us! Until the bug report system is finished, please sent it to my (Dylan) email with "[TimelapsE Bug Report]" in the title so it does not automatically get spam filtered. Thank you and we hope you enjoy our site!
			.p 
				You can view all of our currently known bugs by clicking
				%a{href: "https://github.com/enragednuke/homework-tracker/labels/Bug"} HERE! 
				Similarly, you can also view all of our currently planned updates 
				%a{href: "https://github.com/enragednuke/homework-tracker/labels/UX%20Improvement"} HERE!
				(feel free to submit suggestions to other by creating new issues on the GitHub page!)