#no-assignments-notify
	#title
		Looks like you don't have anything to do! Huzzah!
	#subtitle
		= "When you find stuff to do, you can make an assignment by clicking below or by clicking on 'Add an assignment' on the assignments list page! (Click 'Assignments' in the bar on the top of your screen to view this)"
		.div
			= link_to 'New Assignment', new_assignment_path, class: 'btn btn-info', id: 'NAN-btn-create'