.navbar-wrapper.navbar-fixed-top.navbar-inverse
  .container
    .logo-portion.navbar-brand Timelapse
    .nav
      .navbar-collapse.collapse
        %ul.nav.navbar-nav.navbar-right
          %li.active{"role"=>"presentation"}
            = link_to "Home", assignments_path
          %li
            = link_to "New Assignment", new_assignment_path