// Place all the styles related to the Assignments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { padding-top: 50px; }

/* --- Variables --- */

$gray: #333;
$gray-medium-light: #3b3b3b;
$gray-darker: #2d2d2d;
$gray-light: #3e3e3e;

@font-face {
  font-family: 'logoFont';
  src: font-url('MANIFESTO.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* --- Unrelated Stuff --- */

#thecrasherbutton {
	display: none;
}

.btn { width: 95%; }

/* --- Carousel Related --- */

#carousel-header {
  font-size: 80px;
}

/* --- Navbar Related --- */

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.navbar {
  margin: 0 auto;
  width:85%;
  top:10px;
}

.logo-portion {
  font-family: 'logoFont' !important;
  font-size: 32px !important;
}

.logo-font {
  font-family: 'logoFont' !important;
}

/* --- Assignment List Related --- */

.assn_list_header a {
  color: #333 !important;
}

th {
  text-align: center;
  font-size: 24px;
}

table#assignment_list_table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #FFFFFF;
  margin-top: 10px;
}

th, td {
  padding-left: 5px;
  padding-right: 5px;
}

th, td#index_name { width: 50%; }
th, td#index_due_date { width:13%; }
th, td#index_percent_done { padding-left: 5px; padding-right: 5px; padding-top: 5px;}
th, td#index_show { width: 30px;}
th, td#index_edit { width: 30px;}
th, td#index_delete { width: 30px; }

td#index_name { text-align: left; }

#no-assignments-notify {
  text-align: center;
  #title {
    margin: 20px 0 10px 0;
    font-size: 36px;
    font-weight: bold;
  }
  #subtitle {
    font-size: 20px;
    #NAN-btn-create {
      width: 200px;
      margin-top: 10px;
    }
  }
}

#default_assignments_display {
  margin: 10px 15% 0 15%;
  width: 70%;
  text-align: center;
  #title {
    padding: 0 0 0 0;
    font-size: 28px;
    font-weight: bold;
  }
  #subtitle {
    font-size: 16px;
  }
}

.buttonthing {
  width: 100%;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

/* --- Footer Related --- */

footer {
  padding: 10px;
  margin-top: 45px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
